
:root{
    font-size: 16px;
}

body{
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content-container{
    border-top: white solid .1rem ;
    border-bottom: white solid .1rem ;
    /* border-radius: 5px; */
}

h1{
    font-family: 'Pacifico', cursive;
    font-size: 3.125rem;
    position: relative;
    text-shadow: .25rem .25rem 1.25rem red;
}

h2{
    font-size: 25px;
    font-family: sans-serif;
}



@media screen and (max-width:768px) {
    
    :root{
        font-size: 12px;
    }
}